/* reset */
$min-width: 320px; 
$max-width: 1200px; 
$base-bg: #FFF; 
$base-font-size: 1.3rem; 
$base-line-height: 1.8rem; 
$base-font-family: Arial, sans-serif; 
$custom-font-family: 'Open Sans', sans-serif; 
$link-color: #100da9;


/* main variables */

$main-color: #333;



//text, titles
$text-color: #000;
$title-color: #000;
$title-font-family: $custom-font-family;

$font-size-h1: 3.6rem;
$line-height-h1: 4.2rem;
$font-size-h2: 3.2rem;
$line-height-h2: 3.7rem;
$font-size-h3: 2.8rem;
$line-height-h3: 3.2rem;

$headerHeight: 8rem;
$footerHeight: 8rem;

$default-transition:all .2s linear;

/* Grid */
$vertical-gutter: 2rem;
$horizontal-gutter: 2rem;

						//.col-2-of-3
@function grid($col, $numOfCol){
	$numOfGutters: $numOfCol - 1; //number of gutters between columns in a row
	$addGutter: ($col - 1) * $horizontal-gutter; //number of gutters, width of which should be added to column
	
	$width: calc( 
		(((100% - #{$horizontal-gutter} * #{$numOfGutters}) / #{$numOfCol}) * #{$col}) + #{$addGutter}							
	);

	@return $width;
}