$min-width: 320px;
$max-width: 1200px; 
$base-bg: #fff;
$base-font-size: 1.4rem;
$base-line-height: 2.4rem;
$base-font-family: 'Roboto', sans-serif;

$main-color: #1c1c1c;
$blue: #435993;
$grey: #e5e5e5;



$headerHeight: 8rem;
$footerHeight: 8rem;

$default-transition: all .3s linear;

$icon-font-path: "../fonts" !default;
$icon1: "\e900";
$icon2: "\e901";
$icon3: "\e902";
$check: "\e903";
$carret: "\e904";
