.btn {
  background: $blue;
  border: none;
	font-weight: 300;
  color: #fff;
  font-size: 1.6rem;
  padding: 0 3rem;
  border-radius: 1.2rem;
  height: 5rem;
  margin-bottom: 2rem;
  &:hover {
    background-color: darken($blue, 10%);
  }
}