/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content{
	background-image: linear-gradient(transparent 100px, $base-bg 195px ), url("../img/main-bg.jpg");
	background-size: 100% 100%, auto 200px;
	background-repeat: no-repeat;
	background-position: top center;
	height: 1000px;
	min-width: $min-width;
	padding-top: 15rem;
}
#personal-info {
	margin-bottom: 4rem;
}
#experience {
	margin-bottom: 6rem;
}

.form-control {
	border-color: $grey;
	border-radius: .5rem;
	font-size: 2rem;
	font-weight: 400;
	resize: none;
	@include placeholder {
		color: #c8c8c8;
	}
	&:focus {
		border-color: $grey;
		box-shadow: none;
	}
}
textarea {
	margin: 4rem auto;
}

.form-check {
	.form-check-input {
		display: none;
		&:checked + .form-check-label:before {
			background: $blue;
			content: $check;
		}
	}
	.form-check-label {
		padding-left: 3.2rem;
		position: relative;
		&:hover:before {
			background: #e9efff;
		}
		&:before {
			background: #fff;
			border: 1px solid $blue;
			border-radius: .25rem;
			color: #fff;
			content: '';
			display: block;
			font-family: 'forgrant' !important;
			font-size: 8px;
			height: 2rem;
			line-height: 2rem;
			left: 0;
			position: absolute;
			text-align: center;
			top: .3rem;
			width: 2rem;
		}
	}//.form-check-label
}//.form-check



.form-group:not(.form-check) {
	margin: auto;
	max-width: 520px;
	width: 100%;

	input[type="text"],
	input[type="email"] {
		height: 5rem;
		text-align: center;
	}


	.styled-select {
		margin-bottom: 2rem;
		max-width: 320px;
		text-align: center;
		.jq-selectbox__select {
			font-weight: 400;
			height: 100%;
			line-height: 5rem;
			padding-top: 0;
		}//.jq-selectbox__select

		.jq-selectbox__trigger {
			align-items: center;
			display: flex;
			justify-content: center;
			&:before {
				color: $blue;
				content: $carret;
				font-family: 'forgrant' !important;
				font-size: 8px;
				transform: rotate(180deg);
			}
		}
		.jq-selectbox__trigger-arrow {
			display: none;
		}
		.jq-selectbox__dropdown {
			border: none;
			box-shadow: 0px 7px 40px -5px rgba(0,0,0,0.4);
			overflow: auto;
			top: 5rem;
			li {
				color: $blue;
				font-size: 2rem;
				&:first-child {
					display: none;
				}
			}
		}//.jq-selectbox__dropdown

		&.opened .jq-selectbox__trigger:before {transform: none;}
	}//.styled-select





	label {
		font-size: 1.4rem;
		@include transition($default-transition);
	}
	.form-control:placeholder-shown + label {
		font-size: 2rem;
		opacity: 0;
		transform: translateY(-3rem);
		visibility: hidden;
	}
	.form-control:not(:focus) + label {
		opacity: 0;
		visibility: hidden;
	}

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE10, IE11
		label {visibility: hidden;}
	}
	@supports (display:-ms-grid) { //MICROSOFT EDGE
		label {visibility: hidden;}
	}
}
