
/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer{
	background: #000; 	
	height: $footerHeight; 
	min-width: $min-width;
	order: 3;	
	width: 100%;
}
