
/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header{
	background: #f0f0f0;
	height: $headerHeight;
	min-width: $min-width;
	order: 1;	
	width: 100%; 
}



@media screen and (max-width: 1200px) {
	
}

@media screen and (min-width: 992px){
	
}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	
}
